* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0 0;
  font-family: 'Raleway', sans-serif; }

.tight-container {
  max-width: 750px;
  margin: auto; }

.logo-text {
  font-family: 'Mrs Sheppards', cursive;
  font-size: 55px; }

img {
  width: 100%; }

header nav ul {
  display: flex;
  margin: 0;
  padding: 0; }

header nav ul li {
  list-style-type: none;
  margin-right: 25px; }

header nav ul li a {
  color: #000;
  font-weight: 500;
  font-size: 18px; }

header nav ul li a:hover {
  text-decoration: none;
  border-bottom: 2px dotted #000;
  color: #000; }

main {
  margin-top: 40px; }

main p {
  font-size: 20px; }

.img-wrapper {
  margin: 15px 0;
  position: relative; }

.loader {
  width: 60px;
  height: 60px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  border-radius: 100%;
  animation: pulse 0.7s infinite ease-in-out; }

img.loaded + .loader {
  display: none; }

.lazy {
  filter: blur(6px);
  transition: 1s all ease; }

.lazy.loaded {
  filter: blur(0px); }

.loader-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.loader-1 .bar {
  width: 30%;
  height: 10px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1; }

.loader-1 .bar .bar-body {
  width: 20%;
  height: 10px;
  border-radius: 4px;
  opacity: 1;
  background: #fff;
  z-index: 2; }

.loader-1 .number {
  font-size: 2.5rem;
  margin-bottom: 7px;
  font-weight: bold; }

.hidden {
  display: none; }

nav ul li.active a {
  border-bottom: 2px dotted #000; }

@keyframes pulse {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1);
    opacity: 0; } }

